[submodule "src/UR5e_3DP"]
	path = src/UR5e_3DP
	url = https://github.com/aharia2/UR5e_3DP.git
[submodule "src/UR5e_3DP_Ian"]
	path = src/UR5e_3DP_Ian
	url = https://github.com/Ianclark54/UR5e-Dev.git