<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_printer">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur5e_printer urdf file -->
    <xacro:include filename="$(find ur_printer_description)/urdf/ur_printer.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur5e_printer.ros2_control.xacro" />


    <xacro:ur5e_printer_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
